<footer>
    <div class="container">
        <div class="f-grid">
            <div class="f-col">
                <h3>TechShop</h3>
                <p>Tecnología accesible para todos y en todo lugar. Los mejores productos a los mejores precios. desde 2020. La confianza a la palma de tu mano
                </p>
            </div>
            <div class="f-col">
                <h4>Enlaces Rápidos</h4>
                <ul>
                    <li><a href="../../pages/index.html">Inicio</a></li>
                    <li><a href="../../pages/productos.html">Productos</a></li>
                    <li><a href="../../pages/sobre-nosotros.html">Sobre Nosotros</a></li>
                    <li><a href="../../pages/ayuda.html">Ayuda</a></li>
                </ul>
            </div>
            <div class="f-col">
                <h4>Contacto</h4>
                <p><i class="fas fa-envelope"></i>soporte.techshop@gmail.com</p>
                <p><i class="fas fa-phone"></i>+52 55 1234 5678</p>
            </div>
            <div class="f-col">
                <h4>Síguenos</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="f-botton">
            <p>&copy; 2025 TechShop. Todos los derechos reservados.</p>
        </div>
    </div>
    
</footer>